[user]
	name = Anthony Capone
	email = acapone@constantcontact.com
[alias]
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  pending = log --branches --not --remotes --simplify-by-decoration --decorate --oneline
  st = status
  rs = reset
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  who = shortlog -s --
  lc = log ORIG_HEAD.. --stat --no-merges
  prune-all = !git remote | xargs -n 1 git remote prune
  news = log -p HEAD@{1}..HEAD@{0}
[github]
	user = dotnet236
	password = Vitec4IT
[color]
	ui = true
[core]
	editor = /usr/bin/vim
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
[remote "ES"]
	fetch = +refs/pull/*/head:refs/remotes/ES/pr/*
[remote "es"]
	fetch = +refs/pull/*/head:refs/remotes/es/pr/*
